<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Enviar Parametros del request HTTP GET - URL</title>
	</head>
	
	<body>
	
		<ul>
			<li>
				<a th:href="@{/parametros/string(texto='Hola Andrés')}">/params/string?texto=Hola Andrés</a>	
			</li>
			<li>
				<a th:href="@{/parametros/string(texto='Que tal John!')}">/params/string?texto=Que tal John!</a>
			</li>
			<li>
				<a th:href="@{/parametros/mix-params(saludo='Como estas Santiago', numero=9)}">/params/mix-params?saludo=Como estas Santiago&numero=9</a>
			</li>
		</ul>
	
	</body>
</html>